.custom-container-main {
    margin-top: 400px;
}

.custom-line-1 {
    color: #0DCAF0;
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-sm),5vw,var(--fz-md));
    font-weight: 400;
}

.custom-line-2 {
    color: white;
    font-weight: bold;
    font-size: clamp(40px, 8vw, 80px);
}

.custom-line-3 {
    color: #8892B0;
    font-weight: bold;
    font-size: clamp(40px, 8vw, 70px);
    text-align: justify;
}

.custom-line-4 {
    color: #8892B0;
    font-size: 20px;
}

.custom-line-4 a {
    color: #0DCAF0;
    text-decoration: none;
}

.custom-line-4 a:active {
    color: #0DCAF0;
}

.custom-line-4 a:hover {
    color: #0DCAF0;
}

.custom-line-4 a:visited {
    color: #0DCAF0;
}