.custom-container-experience {
    margin-top: 500px;
}

.custom-accordion-logo {
    width: 30px;
}

.custom-accordion-role {
    font-size: 20px;
    font-weight: bold;
}

.custom-accordion-body {
    background-color: #212529;
    color: #8892B0;
    font-size: 20px;
}

.custom-accordion-date {
    padding-right: 10px;
    font-weight: bold;
}

.custom-body-key {
    font-weight: bold;
    color: white;
}

.custom-body-value {
    color: #0DCAF0;
}