.custom-number {
    color: aqua;
    padding-right: 6px;
    font-size: x-large;
    font-weight: bold;
}

.custom-heading {
    color: white;
    font-size: x-large;
    font-weight: bold;
}

.custom-line {
    color: gray;
}